.dark-veil-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    background-color: #000;
}

.dark-veil-canvas {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    /* Adjust opacity to blend with content */
}